{
	"parser": "babel-eslint",
	"env": {"es6": true},
	"plugins": [
		"babel",
		"react"
	],
	"rules": {
		"max-len": [1, 120, 2, {"ignoreComments": true}],
		"react/prop-types": [2]
	},
	"extends": ["eslint:recommended", "plugin:react/recommended"],
	"globals": {
		"__dirname": true,
		"process": true,
		"console": true
	}
}